# .gitignore rev. 29 January 2014 by Stuart Ambler.
# Copyright (c) 2014 Stuart Ambler.
# Distributed under the Boost License in the accompanying file LICENSE.

*~
*.pyc
*.aux
*.bbl
*.blg
*.log
*.out
.coverage
pstats.py
README.html
/__pycache__
/htmlcov
/old
